/* global */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background: #efefef;
  color: #3d3d3d;
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: #4e4e4e;
}

.container {
  width: 80%;
  margin: auto;
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
}

.title {
  width: 90%;
}

ul {
  width: 10%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
}

/* signup */
.heading {
  text-align: center;
  margin-bottom: 20px;
}

/* form */
.form-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form {
  background: #ffffff;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
}
.form input {
  background: #faeaea;
  border-color: transparent;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}
.form-control {
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
}
.form button {
  display: inline-block;
  background: #c58080;
  color: #ffffff;
  border-color: transparent;
  margin-top: 1rem;
  padding: 0.15rem 0.25rem;
  text-transform: capitalize;
  border-radius: 2px;
  cursor: pointer;
}

/* spinner */
.spinner {
  border: 4px solid #e0e0e0;
  border-radius: 50%;
  border-top: 4px solid #c58080;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* blog item */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
  margin-top: 40px;
}

.date {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card-btn-container {
  display: flex;
}

.card button:hover {
  opacity: 0.7;
}

.bloglist-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}
